@model List<AlbumWeb.ViewModels.FotosViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
           ID
        </th>
        <th>
            Nombre de Foto
        </th>
        <th>
            Foto
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Title
            </td>
            <td>
                <img src="@item.ThumbnailUrl">
            </td>
            <td>
                <a class="btn btn-primary comments" href="#" data-url="@Url.Action("Index", "Comentarios", new { id=item.Id })">
                    Visualizar Comentarios
            </td>
        </tr>
        <tr class="comments-view">
            <td colspan="4"></td>

        </tr>
    }

</table>
@section scripts{
    <script type="text/javascript">
        $(".comments").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $('.comments-view').hide();
            var tr = $(this).closest('tr');
            $.ajax({
                url: $(this).data('url'),
                type:"GET"
            }).done(function (response) {
                var commentTr = tr.next();
                commentTr.find('td').html(response);
                commentTr.show();
            });
        })

    </script>
}
